@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'plus-jakarta-sans';
  src: url(./fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

  .text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
body{
background: #F5F5F5;
}
